h1-h6 {
  font-style: bold;
}

body {
  background-image: url("../images/detroit3_18x24.jpg");
  font-family: 'Bitter', serif;
}

p {
  font-size: 20pt;
  color: black;
}

img.medium {
  width: 300px;
  height: 300px;
}

#header, #description, #question, #dirButtons {
  text-align: center;
}

#levelImage {
  border: 10px solid black;
}

#description {
  border: 5px solid gray;
  background-color: #cccccc;
  width: 900px;
  margin: 0 auto;
}
