h1 {
  font-family: cursive;
  text-transform: uppercase;
}

/*Test the last rule by just adding the following rule*/
/*h1 {
  text-transform:lowercase;
}*/

/*Test the specificity rule by just adding the following rule*/
#headerTitle {
  text-transform: lowercase;
}



body {
  background-image: url("../images/detroit3_18x24.jpg");
  /*background-color: #ffff00;*/
}

p {
  font-family: sans-serif;
  font-size: 20pt;
  color: black;
}

img.medium {
  width: 300px;
  height: 300px;
}

#direction {
  font-size: 100pt;
  color: red;
}

#header {
  border: 5px solid gray;
  background-color: #cccccc;
  text-align: center;
}
